/* Importing google fonts */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

* {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 50px;
}

.container {
  width: 1320px;
  margin: 0px auto;
}
/* New year banner section style */

.banner {
  background: linear-gradient(180deg, #0c031dec 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/BannerImage.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 12px;
  text-align: center;
  padding: 177px 334px;
}
.title-up {
  color: white;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
}

/* Discount section style */

.discount-title {
  color: #ff0000;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 48px;
  margin-top: 80px;
}
.discount-text {
  color: #ff0000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.discount-sub-text {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 48px;
  text-transform: uppercase;
}
.discount-image {
  width: 803px;
  height: 500px;
  margin: auto;
}
.discount-image img {
  width: 100%;
}

/* Party section style */

.party-info {
  background: linear-gradient(90deg, #080214ea 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 142px;
  display: flex;
  gap: 24px;
  border-radius: 10px;
  margin-top: 70px;
}
.party-text {
  padding: 126px 0px 0px 126px;
}
.party-text > h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.party-text > p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding: 22px 0px;
  margin-bottom: 26px;
}
.party-text > h2 {
  padding: 16px 32px;
  /* outline: 0;
  border: none; */
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  /* background-color: #ff0000; */
  /* border-radius: 5px; */
  /* cursor: pointer; */
}
.party-image {
  width: 320px;
  height: 465px;
}
.party-image > img {
  width: 100%;
  /* margin-top: 68px; */
  padding: 74px 138px;
}

/* Party details section style */

.details-text {
  background: linear-gradient(
    180deg,
    rgba(216, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0px 214px;
  text-align: center;
  border-radius: 16px;
  margin-top: 70px;
}
.details-text h2 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.details-text h2 > span {
  color: #ff0000;
}
.btn-primary {
  padding: 16px 32px;
  outline: 0;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff0000;
  border-radius: 5px;
  cursor: pointer;
}

/* Coming Soon offer section style   */

.comingOffer-text {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.left {
  text-align: left;
}
.offer-description {
  color: rgba(8, 2, 20, 0.534);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 30px;
}
.offer-center-child {
  border: 15px solid #ff0000;
  border-radius: 50%;
  padding: 40px;
}
.offer-child > h2 {
  color: #ff0000;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 50px;
}
.offer-child > h1 {
  color: #070211;
  font-size: 48px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 15px;
}

/* Holiday sale section style */

.saletext-area .sale-description {
  text-align: center;
  padding-top: 68px;
}

.sale-subtext {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.sale-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 28px;
}

.sale-title span {
  color: #ff0000;
}
.sale-text {
  color: rgba(8, 2, 20, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.sale-image {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 65px;
}
.sale-image .right-image {
  background: url("../resources/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}
.left-image img {
  position: absolute;
  left: -59px;
  bottom: -261px;
  box-shadow: 1px 1px 1px solid black;
}
.right-image {
  position: relative;
  width: 430px;
  height: 433px;
}
.right-image img {
  position: absolute;
  left: -36%;
  top: 15%;
}
.redbar {
  background: #ff0000;
  width: 100%;
  height: 230px;
  border-radius: 10px 0px 10px 10px;
}

/* Portfolio section style */

.protfolio-info {
  margin-bottom: 50px;
}
.portfolio-subtext {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-top: 100px;
}
.portfolio-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-description {
  color: rgba(12, 4, 27, 0.555);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 22px;
}
.portfolio-images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}

.portfolio-child {
  box-shadow: 0 0 0 #aaa8a8;
  transition: box-shadow 100ms ease;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.portfolio-child:hover {
  transform: scale(1.1, 1.1);
  z-index: 1;
  border-radius: 10px;
  filter: grayscale(60%);
}
